*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.debug [class^="col-"]{
    min-height: 30px;
}

.container{
    max-width: 950px;
    margin: 0 auto;
}

body{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.page-header{
    background-color: #ADD8E6;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 15px 0px;
}

.row{
    display: flex;
    flex-wrap: wrap;
}

[class^="col"]{
    border: 3px dashed black;
}

.page-header [class^='col-']{
    background-color: #DAA520;
    padding: 8px;
}

.page-header .row *:nth-child(2){
    text-align: center;
}

.page-header .row *:last-child{
    text-align: end;
}

.main-content section {
    padding: 40px 0;
}

.pink-section {
    background-color: #00008B;
}

.pink-section [class^="col"]{
    min-height: 300px;
    background-color: #EE82EE;
}

.pink-section .row {
    justify-content: center;
}

.bp-section [class^="col-"]{
    background-color: #FFC0CB;
    min-height: 380px;
}

.bp-section .col-7{
    background-color: #1E90FF;
}

.bp-section .grey {
    background-color: #D3D3D3;
}

.col-2{
    flex-basis: calc(100% / 6);
}

.col-3{
    flex-basis: calc(100% / 4);
}

.col-5{
    flex-basis: calc((100% / 12) * 5);
}

.col-6{
    flex-basis: calc(100% / 2);
}

.col-7{
    flex-basis: calc((100% / 12) * 7);
}

.col-8{
    flex-basis: calc((100% / 3) * 2);
}

.col-9{
    flex-basis: calc((100% / 4) * 3);
}

